
@{
    ViewBag.Title = "Home";
    var x = "https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css";
    var y = "https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@x">
    <script src="@y"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/StyleSheet1.css")">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        <div id="content">
            <div id="intro-container">
                <div id="intro">
                    <div id="intro-description">
                        <h1>Hello, I'm</h1>
                        <h2>Fahim Haider</h2>
                        <div>I'm an undergraduate student of CSE at American Internation University, Bangladesh, passionate about Web Development and Software engineering.</div>
                    </div>
                    <div id="image-box"><img src="@Url.Content("~/Content/img/IMG_3545.png")" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
